html, body {
  margin: 0;
  padding: 0;
  font-family: arial,sans-serif;
}

:root {
  --color-red: #ed3234;
  --color-blue: blue;
}

@font-face {
  font-family: "pizarra";
  src: url("../fonts/pizarra.ttf");
  font-weight: normal;
  font-style: normal;
}

.color-rojo {
  color: var(--color-red);
}

.body-bg1 {
  background: url("../images/casino/fondo-casino.png") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.body-bg2 {
  background: url(../images/casino/fondocasino.png) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.body-bg3 {
  background: url(../images/casino/fondocasino.png) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.d-flex-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #dedede;
  padding: 0.35rem;
  height: 100%;
}

.jackpot-img {
  width: 54%;
}

.jackpot-title {
  display: block;
  font-size: 14px;
  font-weight: bold;
}

.jackpot-cash {
  display: block;
  font-weight: 900;
  font-size: 12px;
}

.icon-heart {
  position: absolute;
  right: 10px;
  top: 10px;
}

.favorito-btn {
  padding: 0.35rem;
  text-align: center;
  background: #ff2020;
  color: white;
  position: relative;
  font-weight: bold;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 1rem;
  margin-right: 0.5rem;
  border-radius: 5px;
}

.jackpot-list-2 {
  line-height: 2;
  background: -webkit-gradient(linear, left top, left bottom, from(#e2e2e2), color-stop(#dadada), to(#b4b4b4));
  background: linear-gradient(to bottom, #e2e2e2, #dadada, #b4b4b4);
  color: black;
  padding: 0.25rem 0;
  text-align: justify;
  padding-left: 1rem;
  font-weight: bold;
  position: relative;
  border-radius: 5px;
  margin: 0 1rem;
  margin-left: 0.5rem;
}

.jackpot-list-2.dropdown-toggle::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .255em;
  vertical-align: .255em;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
  position: absolute;
  right: 10px;
  top: 17px;
}

.jackpot-list-2 a {
  color: #000;
  text-decoration: none;
  display: block;
  font-weight: bold;
}

.drop-casino {
  width: 150%;
  background: #dedede;
  max-height: 40vh;
  overflow: hidden;
  overflow-y: scroll;
}

.mostrar-div {
  width: 100%;
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-column: 1/8;
  text-align: center;
  position: absolute;
  bottom: -6vh;
  z-index: 1;
}

.btn-mostrar {
  background: white;
  padding: 0.5rem 2rem;
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 2px;
  cursor: pointer;
  border-radius: 0 0 10px 10px;
  width: 12rem;
}

/* header ........................................................................... */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  position: relative;
}

.whatsapp-icon {
  color: green;
  font-size: 2.5rem;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  left: 48%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.whatsapp-icon:focus {
  text-decoration: none;
  color: green;
}

.user-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 21px;
  margin-top: 0.5rem;
  color: white;
}

.money-user {
  font-size: 10px;
  margin: 5px 0;
  font-weight: bold;
}

.arrow-left {
  font-size: 22px;
  height: 100%;
}

.arrow-left a {
  color: #2f2f2f;
}

/* home ................................................................................... */
.home-bg {
  background: transparent;
  padding: 1rem 1rem 10vh 1rem;
}

.bar-top {
  background: #f6f6f6;
}

.bar-top-border {
  text-align: center;
  border-right: 1px solid #b2b2b2;
  background: -webkit-gradient(linear, left top, left bottom, from(#d2d2d2), color-stop(#e2e2e2), to(#e6e6e6));
  background: linear-gradient(to bottom, #d2d2d2, #e2e2e2, #e6e6e6);
}

.bar-top-border.active {
  background: #ff2020;
  color: white;
  fill: white;
}

.bar-top-p {
  margin: 0;
  font-size: 10px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.img-bar-top {
  width: 25px !important;
  height: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: initial !important;
}

.bar-top-2 {
  background: #f6f6f6;
}

.bar-top-border-2 {
  padding: 0.5rem 0;
  text-align: center;
  border-right: 1px solid #b2b2b2;
  border-top: 1px solid #e2e2e2;
}

.bar-top-border-2.active {
  background-color: #fe0000;
}

.img-bar-top-2 {
  width: 50px;
  height: 30px;
  margin-top: 5px;
  visibility: hidden;
  display: none;
}

.img-bar-top-3 {
  width: 30px;
  margin-top: 3px;
  height: 30px;
  visibility: hidden;
  display: none;
}

.img-bar-top-2.active {
  visibility: visible;
  display: initial;
}

.hip-time-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hip-time-img {
  margin: 0.6rem;
  border: 1px solid #c7c7c7;
  border-radius: 15px;
  overflow: hidden;
}

.hip-time-p {
  color: green;
  font-weight: bold;
  font-size: 21px;
  margin: 0;
}

.hip-time-span {
  display: block;
  font-size: 14px;
  font-weight: bold;
  color: #fe0000;
  margin: 0;
}

.timee {
  font-weight: bold;
  color: #3d3d3d;
}

.detail-time {
  padding: 1rem 0;
  text-align: center;
}

.detail-p {
  display: block;
  margin-bottom: 1rem;
  color: #3d3d3d;
  font-weight: bold;
  margin: 0;
}

.detail-select {
  background-size: contain;
  background-position: center;
  padding: 0rem;
  background-repeat: no-repeat;
  border: 4px solid var(--color-red);
  border-radius: 30px;
  position: relative;
  -webkit-box-shadow: inset 0px 0px 0px 3px black;
          box-shadow: inset 0px 0px 0px 3px black;
}

.detail-select::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 4px;
  top: -4px;
  right: -12px;
  background-color: var(--color-red);
}

.detail-select::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 4px;
  bottom: -4px;
  left: -12px;
  background-color: var(--color-red);
}

.detail-select select {
  border: none !important;
  background-color: transparent !important;
}

.detail-select select:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.list-hipodro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  background: #f2f2f2;
  -webkit-box-shadow: inset 0px 0px 10px #b9b9b9;
          box-shadow: inset 0px 0px 10px #b9b9b9;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.5rem 0.45rem;
  margin: 0;
}

.list-hipodro li:nth-child(1) {
  width: 25%;
  text-align: center;
  border-right: 1px solid #999999;
}

.list-hipodro li:nth-child(2) {
  width: 50%;
  text-align: center;
  border-right: 1px solid #999999;
}

.list-hipodro li:nth-child(3) {
  width: 25%;
  text-align: center;
}

.list-hipodro-race {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  background: #f2f2f2;
  -webkit-box-shadow: inset 0px 0px 10px #b9b9b9;
          box-shadow: inset 0px 0px 10px #b9b9b9;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.5rem 0.45rem;
  margin: 0;
}

.list-hipodro-race li:nth-child(1) {
  width: 20%;
  text-align: center;
  border-right: 1px solid #999999;
}

.list-hipodro-race li:nth-child(2) {
  width: 40%;
  text-align: center;
  border-right: 1px solid #999999;
}

.list-hipodro-race li:nth-child(3) {
  width: 15%;
  text-align: center;
  border-right: 1px solid #999999;
}

.list-hipodro-race li:nth-child(4) {
  width: 25%;
  text-align: center;
}

.list-hipodro-div {
  width: 100%;
  background: #f2f2f2;
  padding: 0.5rem 0.45rem;
  margin: 0;
  border: 1px solid #767676;
  border-top: none;
}

.list-hipodro-div a {
  color: black;
  text-decoration: none;
}

.list-hipodro-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  background: #f2f2f2;
  padding: 0.5rem 0rem;
  margin: 5px 0;
  border-bottom: 1px solid #cacaca;
}

.list-hipodro-ul li:nth-child(1) {
  width: 20%;
  text-align: center;
  border-right: 1px solid #999999;
}

.list-hipodro-ul li:nth-child(2) {
  width: 40%;
  text-align: justify;
  border-right: 1px solid #999999;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-left: 10px;
}

.list-hipodro-ul li:nth-child(3) {
  width: 15%;
  text-align: center;
  border-right: 1px solid #999999;
}

.list-hipodro-ul li:nth-child(4) {
  width: 25%;
  text-align: center;
}

.list-hipodro-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  background: #f2f2f2;
  padding: 0.5rem 0rem;
  margin: 5px 0;
  border-bottom: 1px solid #cacaca;
}

.list-hipodro-home li:nth-child(1) {
  width: 25%;
  text-align: center;
  border-right: 1px solid #999999;
}

.list-hipodro-home li:nth-child(2) {
  width: 50%;
  text-align: justify;
  border-right: 1px solid #999999;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-left: 10px;
}

.list-hipodro-home li:nth-child(3) {
  width: 25%;
  text-align: center;
}

.btn-search {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  z-index: 1;
  border-color: #fe0000;
  color: #474747;
}

.detail-info {
  padding-bottom: 0.5rem;
}

.video {
  background: black;
  text-align: center;
  padding: 1rem;
}

.video-iframe {
  width: 100%;
  height: 200px;
}

.datos-div {
  background: #2f2f2f;
  font-weight: bold;
  line-height: 3;
  color: white;
  padding: 0 1rem;
}

.datos-div p {
  margin-bottom: 0;
}

.card-body {
  padding: 1rem 0rem;
}

.video-modal {
  padding: 1rem;
  background: #f7f7f7;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.country-aco {
  background: #f2f2f2;
  color: black;
  -webkit-box-shadow: inset 0px 0px 10px -3px;
          box-shadow: inset 0px 0px 10px -3px;
  border-radius: 10px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1px 0;
}

.w-10 {
  width: 10%;
}

.w-15 {
  width: 15%;
}

.w-70 {
  width: 70%;
}

.days-hipodromos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  position: relative;
}

.days-hipodromos-d {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem;
  position: relative;
}

.progress-days {
  position: absolute;
  width: 100%;
  z-index: 1;
  border: 1px solid;
  background: gainsboro;
}

.days-text {
  text-align: center;
  font-weight: bold;
  font-size: 1.25rem;
  padding: 0.4rem 0.5rem;
}

.radio-days {
  z-index: 2;
  width: 25%;
  opacity: 0;
}

.days-p {
  width: 25%;
  text-align: center;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.p-bold-day {
  font-size: 1rem !important;
  font-weight: bold;
}

.progress-home {
  background: #fe0000;
  position: relative;
}

.progress-home::after {
  content: "";
  background-color: white;
  border: 1px solid #fe0000;
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  right: -5px;
  z-index: 1;
}

.flex-space-hipo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 0.3rem .5rem;
  background: #fff;
  border: 1px solid #cacaca;
  color: black;
  border-left-color: #767676;
  border-right-color: #767676;
  border-top: 0;
}

a.flex-space-hipo {
  text-decoration: none;
  color: initial;
}

.flex-space-hipo.active {
  background: red;
  color: white;
}

.text-justify-hipo {
  text-align: justify;
  padding-left: 0.5rem;
  width: 50%;
  border-right: 1px solid #cacaca;
}

.hipo-sp {
  margin: 0;
  font-weight: bold;
  font-size: 1rem;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.hipo-sp2 {
  margin: 0;
  font-size: 14px;
  display: block;
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.time-line {
  width: 30px;
  height: 30px;
  background: black;
  border-radius: 50%;
  border: 2px solid #666666;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  font-weight: 900;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  position: relative;
}

.time-line::before {
  content: "";
  background: green;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}

.w-20-timeline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 25%;
  border-right: 1px solid #cacaca;
}

.effect-bell {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: 1s all;
  transition: 1s all;
  -webkit-animation: bell infinite 1s linear alternate;
          animation: bell infinite 1s linear alternate;
  width: 30px;
}

@-webkit-keyframes bell {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  10% {
    -webkit-transform: rotate(65deg);
            transform: rotate(65deg);
  }
  25% {
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
  }
  50% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  75% {
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
  }
  90% {
    -webkit-transform: rotate(65deg);
            transform: rotate(65deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@keyframes bell {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  10% {
    -webkit-transform: rotate(65deg);
            transform: rotate(65deg);
  }
  25% {
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
  }
  50% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  75% {
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
  }
  90% {
    -webkit-transform: rotate(65deg);
            transform: rotate(65deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

.pulse {
  -webkit-animation: pulse infinite 1.5s;
          animation: pulse infinite 1.5s;
}

@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.04, 1.04, 1.04);
    transform: scale3d(1.04, 1.04, 1.04);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse-icon {
  -webkit-animation: pulse-icon infinite 1.5s;
          animation: pulse-icon infinite 1.5s;
}

@keyframes pulse-icon {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.2, 1.2, 1.2);
    transform: scale3d(1.2, 1.2, 1.2);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.hr-hipo {
  margin: 0.5rem 0;
  border: 1px solid #585858;
}

.information-bg {
  background: #f2f2f2;
  padding: 1rem 0rem 7.5vh 0rem;
}

.information-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 40px;
  border-top: 1px solid #dcdbdb;
  border-bottom: 1px solid #dcdbdb;
  background: rgba(228, 228, 228, 0.8);
}

.information-title i {
  padding: 0 1rem;
}

.information-title span {
  font-size: 1rem;
  font-weight: bold;
}

.info-p {
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: black !important;
  text-decoration: none !important;
  height: 40px;
  border: 1px solid #dcdbdb;
}

.info-p i {
  padding: 0 1rem;
}

.jackpop-slider2 {
  background: url(../images/banner2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
  height: 8.8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.jackpop-slider-p {
  color: white;
  margin: 0;
  text-align: right;
  font-weight: bold;
  font-size: 1.3rem;
  position: relative;
  width: 100%;
  padding-right: 16vw;
  top: 10px;
}

.jackpop-bg-list {
  background: url(../images/ban.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: auto;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.jackpop-bg-list span {
  width: 50%;
  color: #fff;
  text-transform: uppercase;
}

.jackpop-bg-p {
  color: white;
  margin: 0;
  font-weight: bold;
  font-size: 1.5rem;
  position: relative;
  top: 0;
}

.jackpop {
  background: url(../images/jackpolla.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.jackpop-p {
  color: white;
  margin: 0;
  text-align: center;
  font-weight: bold;
  font-size: 1.6rem;
  position: relative;
  top: 20%;
  width: 100%;
}

.btn-green {
  background-color: #28a745 !important;
  color: white !important;
  font-weight: bold;
  font-family: "pizarra",sans-serif;
  border: 1px solid #d0d0d0 !important;
}

.r-line {
  stroke: #000;
  stroke-miterlimit: 10;
  width: 8vh;
}

.border-hipo {
  border: 1px solid var(--color-red);
  padding: 0.5rem 1rem;
  border-radius: 10px;
}

.border-hipo-p {
  margin: 0;
  font-weight: 800;
  font-size: 14px;
  color: #2a2ab7;
}

.border-hipo-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5px;
}

.flex-space {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.border-hipo-p-2 {
  margin: 0;
  font-weight: 800;
  font-size: 14px;
  color: var(--color-red);
  white-space: nowrap;
}

.border-hipo-sp2 {
  margin: 0;
  font-size: 12px;
  color: black;
  display: block;
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.card {
  border: 0 !important;
}

.collapse-trans {
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.border-hipo-sp {
  margin: 0;
  font-weight: bold;
  font-size: 1rem;
  color: black;
  display: block;
}

.w-333 {
  width: 33.3333%;
}

.color-btn-bronce {
  background: linear-gradient(45deg, #f16107, #c34b00, #f16107, #c34b00) !important;
}

.color-btn-plata {
  background: linear-gradient(45deg, #d2d2d2, #7d7d7d, #d1d1d1, #7d7d7d) !important;
}

.color-btn-oro {
  background: linear-gradient(45deg, #ffce00, #ff8d00, #ffce00, #ff8d00) !important;
}

.result-btn {
  background: #3d3d3d;
  color: white;
  border: 1px solid black;
}

.result-btn.active {
  background: var(--color-red);
  -webkit-box-shadow: inset 0px -8px 9px -8px #565656, inset 0px 4px 10px -7px black;
          box-shadow: inset 0px -8px 9px -8px #565656, inset 0px 4px 10px -7px black;
}

.pdf-view {
  background: white;
  height: 50vh;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
  margin: 1rem;
  border: 2px solid gray;
}

/* race page  .....................................................................*/
.race-btn {
  text-align: center;
  padding: 0.45rem 0.5rem;
  background: #ffffff;
  border-bottom: 1px solid #d0d0d0;
  border: 1px solid #d0d0d0;
  color: #000;
}

.race-btn.active {
  background: #fe0000;
  border: 1px solid #fe0000;
  color: white;
}

.race-div {
  height: 50vh;
  background: #f2f2f2;
  overflow: hidden;
  overflow-y: scroll;
}

.race-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background: transparent;
  border: 1px solid black;
  border-bottom: none;
  border-radius: 5px 5px 0px 0px;
}

.race-list-pay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background: transparent;
  border: 1px solid black;
  border-top: none;
  border-radius: 0px 0px 5px 5px;
}

.r-justify-end {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.race-retirado {
  width: 100%;
  text-align: center;
}

.race-grid-pay {
  width: 33.3333%;
}

.race-grid-pay2 {
  width: 50%;
  text-align: center;
  border: 1px solid #dedede;
  border-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.race-grid-pay3 {
  width: 33.3333%;
  text-align: center;
  border: 1px solid #dedede;
  border-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.race-grid-pay4 {
  width: 25%;
  text-align: center;
  border: 1px solid #dedede;
  border-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.race-grid-pay5 {
  width: 100%;
  text-align: center;
  border: 1px solid #dedede;
  border-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.race-grid-label {
  font-weight: bold;
  padding: 0 .5rem;
  margin: 5px;
  margin-left: 0;
  margin-right: 0;
}

.race-num {
  margin: 0 auto;
  text-align: center;
  border-radius: 5px;
  vertical-align: middle;
  position: absolute;
  top: 5px;
  left: 0px;
  font-weight: bold;
  font-size: 1rem;
  width: 100%;
}

.table td, .table th {
  position: relative;
  padding: 0.35rem;
}

.race-grid-w {
  width: 20%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.race-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 1;
  grid-column: 1;
  width: 40%;
}

.race-grid-text1 {
  font-weight: bold;
  font-size: 1rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.race-grid-text2 {
  font-weight: bold;
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.race-tag {
  margin: 5px 0;
}

.r-bg1 {
  fill: #bb0500;
  color: white;
}

.r-bg2 {
  fill: #bfccd4;
  color: white;
}

.r-bg3 {
  fill: #1e3b7d;
  color: white;
}

.r-bg4 {
  fill: #bbaa00;
  color: black;
}

.r-bg5 {
  fill: #1b5c24;
  color: white;
}

.r-bg6 {
  fill: #25261e;
  color: white;
}

.r-bg7 {
  fill: #b23e0d;
  color: white;
}

.r-bg8 {
  fill: #b07591;
  color: white;
}

.r-bg9 {
  fill: #10a19a;
  color: white;
}

.r-bg10 {
  fill: #6811a0;
  color: white;
}

.r-bg11 {
  fill: #6f696d;
  color: white;
}

.r-bg12 {
  fill: #389f46;
  color: white;
}

.r-bg13 {
  fill: #47372a;
  color: white;
}

.r-bg14 {
  fill: #77002e;
  color: white;
}

.r-bg15 {
  fill: #6e5328;
  color: white;
}

.r-bg16 {
  fill: #10a19a;
  color: white;
}

.r-bg17 {
  fill: #FF9800;
  color: black;
}

.r-bg18 {
  fill: #673AB7;
  color: white;
}

.check-box-list {
  width: 3.5vh;
  height: 3.5vh;
  -webkit-appearance: none;
  background-color: #f2f2f2;
  border: 1px solid #585858;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 9px;
  border-radius: 5px;
  display: inline-block;
  position: relative;
}

.check-box-list:active, .check-box-list:checked:active {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.check-box-list:checked {
  background-color: #e9ecee;
  border: 1px solid #adb8c0;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
  color: #99a1a7;
}

.check-box-list:checked:after {
  content: '\2714';
  font-size: 1rem;
  position: absolute;
  top: -1px;
  left: 4px;
  color: #218838;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: var(--color-red);
}

.nav-col6 {
  -ms-flex: 0 0 50%;
  -webkit-box-flex: 0;
          flex: 0 0 50%;
  max-width: 50%;
}

:focus {
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.type-bets-btn {
  border-radius: 0;
  border: 0px solid #dedede;
  background: #666666;
  color: white;
  font-weight: bold;
  -webkit-box-shadow: inset -3px -3px 4px -2px black;
          box-shadow: inset -3px -3px 4px -2px black;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}

.type-bets-btn.active {
  background: var(--color-red);
}

.programas-pdf {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
}

.programas-pdf.active {
  visibility: visible;
  opacity: 1;
  -webkit-transition: 0s all;
  transition: 0s all;
  z-index: 1050;
}

.btn-programs {
  position: absolute;
  z-index: 2;
  right: 0;
}

.swiper-container {
  /* width: 70vh; */
  height: 100%;
}

.swiper-pagination-bullet {
  border-radius: 0 !important;
  width: 4vh !important;
  height: 4vh !important;
  color: white !important;
  font-size: 16px !important;
  border: 1px solid black !important;
  background: gray !important;
}

.swiper-pagination-bullet-active {
  background: var(--color-red) !important;
}

.swiper-button-next, .swiper-button-prev {
  color: var(--color-red) !important;
}

/* pagina pagos  ...........................................................................*/
.pagos-div {
  background: #dedfe1;
  padding: 1rem 1rem 10vh 1rem;
}

.pagos-bg {
  background: white;
  -webkit-box-shadow: 0px 1px 4px -2px black;
          box-shadow: 0px 1px 4px -2px black;
}

.pagos-img {
  padding: 1rem 5px;
  text-align: center;
}

.pagos-img.active {
  border: 1px solid #fe0000;
}

.pagos-cant {
  padding: 1rem 5px;
  text-align: center;
}

.pagos-cant.active {
  background-color: #fe0000;
  color: white;
}

.hr-pagos {
  margin: 0px 0px 10px 0;
  border: 0;
  border-top: 1px solid #dedfe1;
}

.cantidad-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px;
}

.pagos-datos {
  padding: 1rem 1rem 0.5rem 1rem;
  text-align: justify;
  overflow: hidden;
  border-bottom: 1px solid #dedfe1;
}

.pagos-datos p {
  font-weight: bold;
  margin-bottom: 0;
}

.pagos-datos-p {
  font-weight: bold;
  margin-bottom: 0;
}

.pagos-small {
  margin-bottom: 0.5rem;
  font-size: 14px;
}

/* historial de pagos y movimientos ................................................ */
.payment-div {
  border: 1px solid black;
  height: 50vh;
  overflow: hidden;
  overflow-y: scroll;
}

.payment-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 30% 30% 30%;
      grid-template-columns: 10% 30% 30% 30%;
  border: 1px solid black;
}

.payment-tem1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  grid-row: 1/5;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.payment-tem2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  text-align: center;
  margin-top: 5px;
}

.payment-tem3 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3/5;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.pay-text {
  display: block;
  font-weight: bold;
  font-size: 14px;
}

.pay-text2 {
  display: block;
  font-size: 16px;
  font-weight: bold;
}

.pay-text0 {
  border: 1px solid black;
  border-radius: 5px;
  width: 80%;
  color: white;
  background: red;
}

/* mybets .......................................................................... */
.mybets-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.mybets-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33.333% 33.333% 33.333%;
      grid-template-columns: 33.333% 33.333% 33.333%;
  border: 1px solid black;
}

.mybets-tem2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  text-align: center;
  margin-top: 5px;
}

.mybets-tem3 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3/5;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.mybets-tem4 {
  -ms-grid-row: 5;
  -ms-grid-row-span: 2;
  grid-row: 5/7;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.cancelado {
  border: 1px solid red;
  color: white;
  background: red;
  padding: 0.3rem;
  border-radius: 5px;
}

.espera {
  border: 1px solid #ffc107;
  color: #212529;
  background: #ffc107;
  padding: 0.3rem;
  border-radius: 5px;
}

.realizado {
  border: 1px solid green;
  color: white;
  background: green;
  padding: 0.3rem;
  border-radius: 5px;
}

.jugando {
  border: 1px solid #212529;
  color: #212529;
  background: #fff;
  padding: 0.3rem;
  border-radius: 5px;
}

.bet-text {
  display: block;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

/* modals .......................................................................... */
.moda-p {
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #4e4e4e !important;
  text-decoration: none !important;
}

.modal-salir {
  color: #c90e00 !important;
  font-weight: bold;
  text-decoration: none;
}

.modal-money {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list-apuesta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  background: #f2f2f2;
  -webkit-box-shadow: inset 0px 0px 10px #b9b9b9;
          box-shadow: inset 0px 0px 10px #b9b9b9;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.5rem 0.45rem;
  margin-bottom: 0 !important;
}

.list-apuesta li:nth-child(1) {
  width: 10%;
  text-align: center;
  border-right: 1px solid #999999;
}

.list-apuesta li:nth-child(2) {
  width: 35%;
  text-align: center;
  border-right: 1px solid #999999;
}

.list-apuesta li:nth-child(3) {
  width: 20%;
  text-align: center;
  border-right: 1px solid #999999;
}

.list-apuesta li:nth-child(4) {
  width: 20%;
  text-align: center;
  border-right: 1px solid #999999;
}

.list-apuesta li:nth-child(5) {
  width: 15%;
  text-align: center;
}

.list-apuestas-div {
  width: 100%;
  background: #f2f2f2;
  padding: 0.5rem 0.45rem;
  margin: 0;
  border: 1px solid #767676;
  border-top: none;
  height: 40vh;
  overflow: hidden;
  overflow-y: scroll;
}

.list-apuesta-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  background: #f2f2f2;
  padding: 0.5rem 0rem;
  margin: 5px 0;
  border-bottom: 1px solid #cacaca;
}

.list-apuesta-ul li:nth-child(1) {
  width: 10%;
  text-align: center;
  border-right: 1px solid #999999;
}

.list-apuesta-ul li:nth-child(2) {
  width: 35%;
  text-align: center;
  border-right: 1px solid #999999;
}

.list-apuesta-ul li:nth-child(3) {
  width: 20%;
  text-align: center;
  border-right: 1px solid #999999;
}

.list-apuesta-ul li:nth-child(4) {
  width: 20%;
  text-align: center;
  border-right: 1px solid #999999;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.list-apuesta-ul li:nth-child(5) {
  width: 15%;
  text-align: center;
}

.total-apuestas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0;
}

.w-40 {
  width: 40%;
}

.w-60 {
  width: 60%;
}

.moda-p-total {
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #4e4e4e;
  font-size: 1.2rem;
}

.modal-header-title {
  background: #3d3d3d;
  color: white;
  text-transform: uppercase;
}

.title-pay {
  font-size: 2rem;
  font-weight: bold;
}

.text-payment {
  font-size: 1.2rem;
  font-weight: bold;
}

.borderes {
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
}

.table-result tr th span {
  padding: .4rem .6rem;
  border-radius: 5px;
  border: 1px solid black;
  width: 100%;
  display: block;
}

.table-result tr td {
  vertical-align: middle !important;
}

.result-acor {
  background: #ed3234;
  padding: 0.35rem;
  border-radius: 5px;
  border: 1px solid #ed3234;
  -webkit-box-shadow: inset 0px -2px 5px -1px #404040;
          box-shadow: inset 0px -2px 5px -1px #404040;
  display: block;
  text-align: center;
  margin-top: 5px;
  color: white;
}

.result-bg {
  background: #585858;
  padding: 0.6rem;
  text-align: center;
  color: white;
}

.result-p {
  color: black;
  font-weight: bold;
  margin: 0;
  font-size: 12px;
}

.table thead th {
  font-size: 12px;
}

.result-hr {
  background: white;
  margin: 0.5rem 0;
}

.modal-scrolling {
  overflow: hidden;
  overflow-y: scroll;
  max-height: 80vh;
}

.resul-banner {
  background: red;
  padding-left: 10px;
  margin-bottom: 5px;
  -webkit-box-shadow: 0px 2px 3px black;
          box-shadow: 0px 2px 3px black;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  line-height: 2;
}

.name-pro {
  color: white;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  background: #101622;
  margin-top: 5px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-pro {
  background: #f4141d;
  border-radius: 0;
  border: none !important;
  color: white;
  margin-top: 5px;
  font-size: 15px;
}

.cell-p {
  padding: 0 !important;
  margin-bottom: 10px;
}

.flex-c-m {
  padding: 0 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #dcdbdb;
  color: #585858;
  height: 40px;
}

.form-idioma {
  border: 0px;
  padding: 0 !important;
  font-size: 14px;
  line-height: 1;
  height: calc(2rem + 0px) !important;
  background: transparent !important;
}

.form-idioma:focus {
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-program {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  border: 1px solid;
}

.btn-program:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-program-all {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  border: 1px solid;
}

.btn-program-all:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

/* footer ...........................................................................*/
.footer {
  position: fixed;
  bottom: 0;
  background: white;
  border-top: 2px solid #fe0000;
  width: 100%;
  z-index: 1;
}

.footer-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: relative;
}

.footer-links {
  width: 20%;
  font-size: 10px;
  border-right: 1px solid #b2b2b2;
  padding: 0.3rem 0;
}

.footer-links a {
  color: #2f2f2f;
  text-decoration: none !important;
}

.footer-links.active {
  background: #fe0000;
}

.footer-links.active a {
  color: white;
}

.footer-links i {
  font-size: 18px;
}

.footer-links p {
  margin: 0;
}

.n-border-r {
  border-right: none;
}

.n-border-l {
  border-left: none;
}

.no-decoration {
  text-decoration: none !important;
  color: black;
}

.btn-footer-icon {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* promociones .................................................................... */
.d-flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.d-flex-promo {
  margin: 0;
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.bono1 {
  background: url(../images/bono1.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.bono2 {
  background: url(../images/bono2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.bono3 {
  background: url(../images/bono3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.bono4 {
  background: url(../images/bono4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.bono-div {
  width: 100%;
  position: relative;
  margin: 0 auto;
  margin-top: 1rem;
  cursor: pointer;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.bono-div img {
  opacity: 0;
}

.bono-p-1 {
  margin: 0;
  color: white;
  background: #00000080;
  padding-left: 10px;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
}

.bono-p-2 {
  margin: 0;
  color: white;
  background: #00000080;
  padding-left: 10px;
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
}

.item-promo {
  border: 1px solid #b2b2b2;
}

.casino-tabs {
  text-align: center;
  border: 1px solid #dedede;
  padding: 0.35rem 0.75rem;
  -webkit-box-shadow: inset 0px -2px 5px -2px black;
          box-shadow: inset 0px -2px 5px -2px black;
  background: #cdcdcd;
}

.casino-tabs p {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.casino-tabs img {
  width: 26px !important;
  margin-right: 5px;
}

.game-sm {
  background-size: cover !important;
  height: 18vh;
}

.new-text-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
}

.new-text-div p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 5px;
  padding: 0.5rem;
}

.title-game {
  color: black;
  margin: 0;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 12px;
}

.effect-padd {
  padding-top: 0;
  background: #d6dadc;
  overflow: hidden;
  border: 3px solid #242424;
  border-top: 1px solid #414141;
  margin-top: 5px;
}

.effect-padd:hover {
  background: #d02120;
  border-top: 1px solid #242424;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.effect-padd:hover .slot-new {
  background: #242424;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.effect-padd:hover .title-game {
  color: white;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.slot-new {
  background: red;
  padding: 0.2rem;
  font-weight: bold;
  color: white;
  width: 30%;
  text-align: center;
  position: absolute;
  right: -25px;
  top: 5px;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.game_inner:hover {
  -webkit-transition: .3s;
  transition: .3s;
}

.game_inner {
  display: block;
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
}

.game_inner:hover .game_overlay {
  display: block;
}

.game_inner:hover .fav_holder {
  display: block;
}

.game_inner:hover .jackpot-div {
  display: block;
}

.game_inner .fav_holder {
  top: 8px;
  right: 8px;
  display: block;
  position: absolute;
  -webkit-animation: fadeInDown .5s;
  animation: fadeInDown .5s;
  display: none;
  z-index: 3;
}

.game_inner .jackpot-div {
  top: 8px;
  left: 5px;
  display: block;
  position: absolute;
  -webkit-animation: fadeInDown .5s;
  animation: fadeInDown .5s;
  display: none;
  z-index: 3;
  background: white;
  border-radius: 10px;
  font-size: 12px;
  padding: .35rem;
  font-weight: bold;
}

.game_inner .game_overlay {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  background: rgba(39, 42, 49, 0.75);
  -webkit-animation: fadeIn .33s;
  animation: fadeIn .33s;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.game .provider_icon {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  text-align: center;
  padding: 2px 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.18)), to(rgba(0, 0, 0, 0.72)));
  background: linear-gradient(rgba(0, 0, 0, 0.18), rgba(0, 0, 0, 0.72));
  border-radius: 0 0 8px 8px;
}

.like-game {
  width: 35px;
  height: 35px;
  background: #fff;
  color: #fd0000;
  font-size: 1.4rem;
  border-radius: 50%;
  text-align: center;
  padding: 0.2rem;
  cursor: pointer;
}

.like-game:hover i {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.like-game:hover i {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.play {
  text-decoration: none;
  outline: none;
  -webkit-animation: fadeInUpSmall .5s;
  animation: fadeInUpSmall .5s;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@-webkit-keyframes fadeInUpSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 10%, 0);
    transform: translate3d(0, 10%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUpSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 10%, 0);
    transform: translate3d(0, 10%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.circle-play {
  background: black;
  border: 3px solid red;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 4rem;
  padding: 1rem;
  cursor: pointer;
}

.game_title {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  text-align: center;
  padding: 2px 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.18)), to(rgba(0, 0, 0, 0.72)));
  background: linear-gradient(rgba(0, 0, 0, 0.18), rgba(0, 0, 0, 0.72));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.game_title .img-game {
  width: 50%;
}

.game-p {
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  margin: 0;
  text-transform: uppercase;
  width: 50%;
}

.f-1 {
  font-size: 1rem !important;
}

.d-flex-casino {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* animaciones .................................................................... */
.pulse {
  -webkit-animation: pulse infinite 2s;
          animation: pulse infinite 2s;
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse-icon {
  -webkit-animation: pulse-icon infinite 2s;
          animation: pulse-icon infinite 2s;
}

@-webkit-keyframes pulse-icon {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.4, 1.4, 1.4);
    transform: scale3d(1.4, 1.4, 1.4);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse-icon {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.4, 1.4, 1.4);
    transform: scale3d(1.4, 1.4, 1.4);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.btn-secondary {
  color: #fff;
  background-color: red !important;
  border-color: red !important;
}

.scroll-provee {
  max-height: 40vh;
  overflow: hidden;
  overflow-y: scroll;
}

span.mobile-demo {
  position: absolute;
  background: red;
  width: 100px;
  text-align: center;
  right: 5px;
  top: 3px;
  color: white;
  font-size: 10px;
  font-weight: bold;
  border-radius: 5px;
}

.title-games {
  color: white;
  padding: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  font-size: 1.4rem;
}

.new-carousel {
  background: #f6f6f6;
  padding: 0.3rem 0.5rem;
  margin: 0.3rem 0;
  width: 100%;
}

.new-carousel-ul {
  overflow: hidden;
  list-style: none;
  padding: 0;
  margin: 0;
  overflow-x: scroll;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  white-space: nowrap;
}

.new-carousel-div {
  background: #c1c1c1;
  border-radius: 5px;
  padding: 0.3rem 1rem;
  color: black;
  text-transform: capitalize;
  margin: 0 3px;
  font-weight: bold;
  font-size: 14px;
}

.new-carousel-div.active {
  background: #ff2020;
  border-radius: 5px;
  padding: 0.3rem 0.5rem;
  color: white;
}

.scroll-top {
  text-decoration: none !important;
  position: fixed;
  bottom: 20px;
  right: 30px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.7);
  width: 6vh;
  height: 6vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 3vh;
  color: var(--color-logo2) !important;
  -webkit-box-shadow: 0px 0px 5px -1px var(--color-logo2);
          box-shadow: 0px 0px 5px -1px var(--color-logo2);
}

/* preloader ........................................................................... */
#ftco-loader {
  position: fixed;
  width: 96px;
  height: 96px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
  border-radius: 16px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .2s ease-out, visibility 0s linear .2s;
  transition: opacity .2s ease-out, visibility 0s linear .2s;
  z-index: 1000;
}

#ftco-loader.fullscreen {
  padding: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: none;
  transform: none;
  background-color: #fff;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#ftco-loader.show {
  -webkit-transition: opacity .4s ease-out, visibility 0s linear 0s;
  transition: opacity .4s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

#ftco-loader .circular {
  -webkit-animation: loader-rotate 2s linear infinite;
  animation: loader-rotate 2s linear infinite;
  position: absolute;
  left: calc(50% - 24px);
  top: calc(50% - 24px);
  display: block;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

#ftco-loader .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  -webkit-animation: loader-dash 1.5s ease-in-out infinite;
  animation: loader-dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
}

@-webkit-keyframes loader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes loader-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -136px;
  }
}

@keyframes loader-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -136px;
  }
}

.espere-logo {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.w-20-timeline .progress {
  width: 30px;
  height: 30px;
  line-height: 150px;
  background: none;
  margin: 0 auto;
  -webkit-box-shadow: none;
          box-shadow: none;
  position: relative;
}

.w-20-timeline .progress:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 7px solid #28a745;
  position: absolute;
  top: 0;
  left: 0;
}

.w-20-timeline .progress.mid:after {
  border-color: #ffb80c;
}

.w-20-timeline .progress.low:after {
  border-color: #de3232;
}

.w-20-timeline .progress > span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}

.w-20-timeline .progress .progress-left {
  left: 0;
}

.w-20-timeline .progress .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 7px;
  border-style: solid;
  position: absolute;
  top: 0;
  border-color: #000;
}

.w-20-timeline .progress .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 75px;
  border-bottom-right-radius: 75px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}

.w-20-timeline .progress .progress-right {
  right: 0;
}

.w-20-timeline .progress .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 75px;
  border-bottom-left-radius: 75px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
}

.w-20-timeline .progress .progress-value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  font-size: 36px;
  text-align: center;
  line-height: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  font-weight: 300;
}

.w-20-timeline .progress .progress-value div {
  margin-top: 10px;
}

.w-20-timeline .progress .progress-value span {
  font-size: 12px;
  text-transform: uppercase;
}

/* This for loop creates the 	necessary css animation names 
      Due to the split circle of progress-left and progress right, we must use the animations on each side. 
      */
.w-20-timeline .progress[data-percentage="25"] .progress-right .progress-bar {
  -webkit-animation: loading-3 1.5s linear forwards;
          animation: loading-3 1.5s linear forwards;
}

.w-20-timeline .progress[data-percentage="25"] .progress-left .progress-bar {
  -webkit-animation: 0;
          animation: 0;
}

.w-20-timeline .progress[data-percentage="50"] .progress-right .progress-bar {
  -webkit-animation: loading-5 1.5s linear forwards;
          animation: loading-5 1.5s linear forwards;
}

.w-20-timeline .progress[data-percentage="50"] .progress-left .progress-bar {
  -webkit-animation: 0;
          animation: 0;
}

.w-20-timeline .progress[data-percentage="75"] .progress-right .progress-bar {
  -webkit-animation: loading-5 1.5s linear forwards;
          animation: loading-5 1.5s linear forwards;
}

.w-20-timeline .progress[data-percentage="75"] .progress-left .progress-bar {
  -webkit-animation: loading-2 1.5s linear forwards 1.5s;
          animation: loading-2 1.5s linear forwards 1.5s;
}

.w-20-timeline .progress[data-percentage="85"] .progress-right .progress-bar {
  -webkit-animation: loading-5 1.5s linear forwards;
          animation: loading-5 1.5s linear forwards;
}

.w-20-timeline .progress[data-percentage="85"] .progress-left .progress-bar {
  -webkit-animation: loading-3 1.5s linear forwards 1.5s;
          animation: loading-3 1.5s linear forwards 1.5s;
}

.w-20-timeline .progress[data-percentage="100"] .progress-right .progress-bar {
  -webkit-animation: loading-5 1.5s linear forwards;
          animation: loading-5 1.5s linear forwards;
}

.w-20-timeline .progress[data-percentage="100"] .progress-left .progress-bar {
  -webkit-animation: loading-5 1.5s linear forwards 1.5s;
          animation: loading-5 1.5s linear forwards 1.5s;
}

@-webkit-keyframes loading-1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(36);
    transform: rotate(36deg);
  }
}

@keyframes loading-1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(36);
    transform: rotate(36deg);
  }
}

@-webkit-keyframes loading-2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(90);
    transform: rotate(90deg);
  }
}

@keyframes loading-2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(90);
    transform: rotate(90deg);
  }
}

@-webkit-keyframes loading-3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(135);
    transform: rotate(135deg);
  }
}

@keyframes loading-3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(135);
    transform: rotate(135deg);
  }
}

@-webkit-keyframes loading-4 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(144);
    transform: rotate(144deg);
  }
}

@keyframes loading-4 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(144);
    transform: rotate(144deg);
  }
}

@-webkit-keyframes loading-5 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(180);
    transform: rotate(180deg);
  }
}

@keyframes loading-5 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(180);
    transform: rotate(180deg);
  }
}
/*# sourceMappingURL=style-movil.css.map */